attrs==19.1.0
Automat==0.7.0
certifi==2019.3.9
chardet==3.0.4
constantly==15.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
PyHamcrest==1.9.0
requests==2.22.0
six==1.12.0
Twisted==19.2.1
urllib3==1.25.3
zope.interface==4.6.0
