[Unit]
Description=opendht api
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/opendht-api
ExecStart=/opt/opendht-api/venv/bin/python3 ./http_server.py
RestartSec=10
TimeoutStopSec=20
TimeoutStartSec=5
StartLimitBurst=5
StartLimitInterval=120
KillMode=mixed
SyslogIdentifier=opendhtapi
PrivateTmp=true

[Install]
WantedBy=multi-user.target
