[Unit]
Description=opendht node
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/root/opendht
ExecStart=/usr/local/bin/dhtnode -s -b CHANGE_IP:4222 -p 4222 -i --proxyserver 8100 --certificate /root/opendht/node.crt --privkey /root/opendht/node.pem
RestartSec=10
TimeoutStopSec=20
TimeoutStartSec=5
StartLimitBurst=5
StartLimitInterval=120
KillMode=mixed
SyslogIdentifier=opendhtnode
PrivateTmp=true

[Install]
WantedBy=multi-user.target
